.commentSection {
  text-align: left;
  margin-bottom: 25px;
  width: 100%;
}
.sectionTitle {
  font-size: 24px;
  font-weight: 700;
}
.commentWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.imgUser img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
.imgWrapper {
  width: 7%;
}
.profilUserName {
  width: 93%;
}
.userName {
  font-size: 16px;
  font-weight: 700;
}
.postDate {
  font-size: 12px;
  font-weight: 400;
}
.commentCaption {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
.commentArea {
  width: 100%;
}
.formControl {
  width: 100%;
  border-radius: 10px;
}
.btnComment {
  display: flex;
  justify-content: flex-end;
  background-color: #214457;
  border-radius: 10px;
  margin-left: 83%;
}
.signOut {
  color: white;
  font: size 22px;
  font-weight: 600;
  padding-right: 5px;
}
.commentHeader {
  gap: 5%;
  display: flex;
}
.comment_picture {
  width: 40px;
  height: 40px;
  margin-right: 5%;
}
.comment_name {
  font-size: 16px;
  font-weight: 700;
}
.user_container {
  margin-bottom: 2%;
}
