.search_container {
  padding: 60px 100px 60px 100px;
}
.page_wrapper {
  width: 100%;
}
.search_filter {
  border-bottom: 2px solid grey;
}
.filter_by {
  width: 23%;
  border-radius: 50px;
}
.result_filter {
  flex-wrap: wrap;
}
